<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles/styles.css') }}">
    <title>{% block title%}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A spectacular website">
    <meta name="keywords" content="HTML, CSS, Python, Music">
    <meta name="author" content="Derin">
    <meta name="author" content="Ami">
    {% endblock %}
</head>
<body>
    <div id="navbar">
        {% block navbar %}
        <a href="{{url_for('.index')}}"><button>Home</button></a>
        <a href="{{url_for('.login')}}"><button>Log In</button></a>
        <a href="{{url_for('.signup')}}"><button>Begin your adventure!</button></a>
        {% endblock %}
    </div>
    <div id="flashes">
        {% block flashes %}
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="flash {{ category }}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endblock %}</div>
        <div id="main">{% block main %}{% endblock %}</div>
</body>
</html>