/.DS_Store
/.env
/venv
/.venv
/instance
twidilers/__pycache__/
twidilers/base/__pycache__
.vscode/settings.json
/twidilers/__pycache__
twidilers/base/test.db
/instance
/twidilers/.env
/instance/memory
/instance/test.db
twidilers/.env
/twidilers/ami/__pycache__
twidilers/.DS_Store
twidilers/base/static/.DS_Store
twidilers/base/static/images/.DS_Store
twidilers/base/.DS_Store

/pData
/certbot

/.vscode