/.DS_Store
/.env
/venv
twidilers/__pycache__/
twidilers/base/__pycache__
.vscode/settings.json
/twidilers/__pycache__
twidilers/base/test.db
/instance
/twidilers/.env
/instance/memory
/instance/test.db
twidilers/.env