html {
    --lightblue: #b8eef9;
    --darkblue: #04043c;
    --darkishblue: #0d0d6b;
    --lightishblue: #97eeff;
}

.flash {
    justify-self: center;
    align-self: center;
    height:50px;
    width:fit-content;
    border-radius: 5px;
    background:var(--lightishblue);
    border:3px solid var(--darkblue);
    color: var(--darkblue);
    vertical-align: middle;
    align-content: center;
    padding:5px;
    font-size: 16pt;
}

.heading {
    font-size:36pt;
    align-self:center;
    font-weight: bold;
    margin: 20px auto;
}

.textbox {
    border-radius: 5px;
    width:204px;
    height:18px;
    padding:8px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    border: 0;
    margin-bottom: 10px;
}

#submit {
    width: 100%;
    height: auto;
    font-size: 11pt;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    cursor: pointer;
    border: 0;
    transition: all 0.3s;
    margin-top: 10px;
}

#submit:hover {
    padding: 8px 4px;
    background-color: var(--darkblue);
    color: var(--lightblue);
    border: 3px solid var(--lightblue);
}

#account_form {
    width: fit-content;
    margin: 0 auto;
    background-color: var(--darkblue);
    padding: 10px;
    border-radius: 5px;
}

.textbox::placeholder {
    color: var(--darkblue);
    font-size: 11pt;
}
.textbox:focus {
    outline: none;
    box-shadow: 0px 0px 10px var(--darkblue);
}


.flex {
    display: flex !important;
}

@media only screen and (prefers-color-scheme: dark) {
    .textbox {
        color: var(--lightblue);
        background-color: var(--darkblue);
    }
    #submit {
        background-color: var(--darkblue);
        color: var(--lightblue);
    }
    #submit:hover {
        background-color: var(--lightblue) !important;
        color: var(--darkblue) !important;
        border: 3px solid var(--darkblue) !important;
    }
    .textbox::placeholder {
        color: var(--lightblue)
    }
    #account_form {
        background-color: var(--lightblue);
    }

    .flash {
        background: var(--darkishblue);
        border: 3px solid var(--lightblue);
        color: var(--lightblue)
    }
}