/* For login, signup, post.html and other forms  */

/* This is variables. You can access them by doing var(--varname) instead of a color. */
html {
    --lightblue: #b8eef9;
    --darkblue: #001554;
    --darkishblue: #0a0a8d;
    --lightishblue: #9eefff;
    --maroonred: rgb(83, 23, 23);
    --greenish: #4d7b9f;
    --maroongreen: #003d00;
}

/* .input_form is the wrapper for the inputs and button. */
.input_form {
    width: fit-content;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--darkblue);
}

/* The textbox for password and username input */
.textbox {
    border-radius: 5px;
    width:250px;
    height:18px;
    padding:13px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    border: 3px solid var(--darkblue);
    font-family:Arial, sans-serif;
}
p .input_form, h2 .input_form {
    margin:10px 0;
}
h4 {
    font-weight:normal;
}
/* Accessbility for screen readers. Don't ask*/
.posts-container {
    margin-top: 1rem;
}

.pst:focus-within {
    outline: 2px solid #007bff;
}

button:focus-visible,
a:focus-visible {
    outline: 2px solid #007bff;
    outline-offset: 2px;
}
/* #content is the main content area. #post-content is the input form content area. */
#post-content {
    resize:vertical;
    overflow-y: hidden;
    border-radius:5px;
}
#title, #post-content {
    width: 470px;
}
#title {
    border-radius: 10px;
}
#post-submit {
    margin:0;
    align-self:inherit !important;
}
.fa-brands {
    margin:0 12px 0 0;
    font-size:20px;
}
.signin-txt {
    float:right;
}
.other-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    flex-direction:column;
}
a .other-signup {
    font-weight:bold;
}
/* Google sign in button stolen shamelessly from stack overflow */
.google-sign-in-button, .github-sign-in-button {
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
        
    padding: 12px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: "Segoe UI",Arial,"Helvetica Neue",sans-serif;
    
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.google-sign-in-button:hover, .github-sign-in-button:hover {
    background-color: #eeeeee;
    outline: none;
    box-shadow: 
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}


@media only screen and (prefers-color-scheme: dark){
    .input_form {
        background-color: var(--darkishblue);
        border: 3px solid var(--lightishblue);
        color:var(--lightblue);
    }
    .textbox {
        color: var(--lightblue);
        background-color: var(--darkblue);
        border: 3px solid var(--lightishblue);
    }
    .textbox::placeholder {
        color: var(--lightblue)
    }
}