/* For login, signup, post.html and other forms  */



/* .input_form is the wrapper for the inputs and button. */
.input_form {
    width:auto;
    max-width: 300px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--darkblue);
}

#login_form,#account_form {
    background-color: var(--lightishblue);
}

.input_form p {
    padding:5px;
    margin:0;
}

/* The textbox for password and username input */
.textbox {
    border-radius: 5px;
    width:auto;
    max-width: 271px;
    height:18px;
    padding:13px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    border: 3px solid var(--darkblue);
    font-family:Arial, sans-serif;
    flex-shrink: 1;
}
p .input_form, h2 .input_form {
    margin:10px 0;
}
h4 {
    font-weight:normal;
}
.separator {
    display: flex;
    align-items: center;
    margin: 20px auto 20px auto;
    width:330px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--darkblue); /* Line color */
}

.separator span {
    padding: 0 10px; /* Space around the "or" text */
    font-weight: bold; /* Make "or" stand out */
}
/* Accessbility for screen readers. Don't ask*/
.posts-container {
    margin-top: 1rem;
}
/*autofilled boxes*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--lightblue) inset;
    -webkit-text-fill-color: inherit;
    transition: background-color 5000s ease-in-out 0s;
}
#post-submit {
    margin:0;
    align-self:inherit !important;
    transition:0.7s all !important;
}
#post-submit:hover {
    background-color:var(--lightblue);
    color:var(--darkblue) !important;
}
#submit {
    width:100% !important;
    margin-top:0px;
}
input:-internal-autofill-selected {
    background-color: var(--lightblue);
}
.pst:focus-within {
    outline: 2px solid #007bff;
}

button:focus-visible,
a:focus-visible {
    outline: 2px solid #007bff;
    outline-offset: 2px;
}

.h-captcha {
    width: 100%;
    display:flex;
    justify-content: center;
}

#blog_form {
    margin:0px;
    justify-self: center;
    flex-shrink: 1;
    width:600px;
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:15px;
    background-color:var(--lightishblue);
    border-radius:15px;
}

.post-textbox {
    max-width:600px;
    overflow:hidden;
}

#post-title {
    font-size:1.4em;
    font-weight:400;
    height:30px;
}

#post-post-content {
    height:160px;
}
#post-post-content-count {
    font-size: 0.9em;
    text-align: right;
}

/* #content is the main content area. #post-content is the input form content area. */
/*content {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}*/

#post-title {
    width:auto;
}

#title {
    width: 470px;
}

.fa-brands {
    margin:0 12px 0 0;
    font-size:20px;
}
.signin-txt {
    float:right;
}
.other-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap:15px;
    flex-direction:column;
}
a .other-signup {
    font-weight:bold;
}


@media only screen and (prefers-color-scheme: dark){
    .textbox::placeholder {
        color: var(--darkblue)
    }
}
@media only screen and (max-width: 600px) {

    #title {
        width: 100%;
    }
    .separator {
        width: 90%;
    }
}

@media only screen and (max-width: 350px) {

.heading {
    font-size: 36px;
}
}