/* For individual posts and feed.html */
#feedtitle {
    float: left;
    font-size: 3em;
    margin: 20px 0;
}
#createpost {
    float: right;
    margin: 20px 0;
}

#filter-button {
    margin-top: 0px;
}
input[type="checkbox" i] {
    border:2px solid var(--lightblue);
    background-color:var(--darkishblue);
    padding:10px;
}
.spacer {
    height: 100px;
}
/* Individual posts */
.pst {
    padding: 20px;
    background-color: var(--lightishblue);
    border-radius: 15px;
    margin: 8px 0px;
    height: fit-content;
    inline-size: 565px;
    overflow-wrap: break-word;
    position:relative;
    text-decoration:none;
    transition:all 2s;
}
.disabled {
    cursor: not-allowed;
    background-color: gray !important;
    color: white !important;
}
header {
    margin:0;
}
.pst-auth {
    margin:10px 0 0 0;
    color:var(--darkblue);
    font-weight: bold;
}

.pst-disp {
    margin:3px 0 0 0;
    color:var(--darkblue);
    font-size: 10pt;
    font-weight:normal;
}
a {
    text-decoration:none;
}
.pst-auths{
    position: relative;
    bottom:8px;
}

.pst-title {
    margin:1px 0 10px 0;
}

.pst-date {
    margin: 0px
}
.liked {
    background-color: var(--maroonred);
    color:white;
}

#topfeed {
    position:relative;
    height:100px;
}
#bottomfeed {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Space buttons apart */
    width: 100%;
    margin: 15px auto;
    padding:0;
}

#bottomfeed button {
    width: auto;
    height: 50px;
    margin:0;
}
#middle {
    margin-top:20px;
}
.filter {
    font-size:26px;
    padding: 10px;
    border-radius:5px;
    border:0;
    background:none;
    color:var(--darkblue);
    cursor:pointer;
    float:right;
    margin:20px 20px 0 0;
    width:50px;
    transition:all 0.3s;
}
#filter:hover {
    box-shadow: 0 0 10px var(--lightblue);
    color:var(--darkblue);
}
#filter-form {
    display:none;
    padding:10px;
    background-color:var(--darkishblue);
    border:2px solid var(--lightblue);
    position:absolute;
    border-radius:13px;
    height:82px;
    top:100px;
    z-index:1000;
    width:270px;
    right:0;
}
.pst-reactions {
    position:absolute;
    right:20px;
    top:20px;
    display:flex;
    flex-direction:row-reverse;
    gap:10px;
    padding:0;
}
.pst-react-but {
    background-color:var(--lightblue);
    border:2px solid var(--darkblue);
    border-radius: 3px;
    color:var(--darkblue); 
    padding:10px;
    cursor:pointer;

    width:36px;
    transition:0.3s all;
    height:36px;
}
.pst-react-but:hover {
    box-shadow:0 0 5px var(--darkblue);
}
.checkbox-label {
    position:absolute;
    top:0;
    right:0;
    width:200px;
    margin:10px;
    color:var(--darkblue);
}
#check-text {
    float:right;
    margin:0 0 0 10px;
    height:fit-content;
}
#more:disabled, #less:disabled {
    background:gray;
    color:white;
    cursor:not-allowed;
    border:0;
}
#submit-filter {
    background-color:var(--lightblue);
    color:var(--darkblue);
    border-radius:7px;
    padding:10px;
    margin-top:20px;
    border:0;
    position:absolute;
    top:38px;
    left:8px;
}

/* container for posts  */
#pst-div {
    display: flex;
}
.reactions {
    position:absolute;
    bottom:0;
    right:0;
}

#blog_form {
    width: 500px;
    margin-bottom:1px;
}

.auth-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0 0 10px 0;
    width: 100%;
    cursor:pointer;
    height: 40px;
}

.pst-auth-pfp {
    border-radius: 1000px;
    width: 40px;
}

.pst-content {
    margin-top:0px
}

/* Found a loading animaiton online sorry it's long*/

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  margin:auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
    .pst {
        width: calc(var(--width) - 40px) !important;
    }
    .filter {
        position:absolute;
        right:0;
        top:0;
        margin-top:30px;
    }
}