/* For profile page and affiliates */
.profile-auth {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20px;
    margin-top:24px;
    height:75px;
}
#follow-button {
    position: absolute;
    right: 20px;
    bottom: 45px;
}
#edit-profile {
    position: absolute;
    top:20px;
    right: 20px;
    padding: 10px;
    color: inherit;
    transition:all 0.5s;
    border-radius:5px;
}
#edit-profile:hover {
    background-color:var(--darkblue);
    color: var(--lightblue);
    border-radius: 10px;
} 
#pfp {
    width: 100px;
    border-radius: 1000000px;
    float: left;
}
#about-user {
    margin:0;
}
#display-name {
    margin:0px;
    width:fit-content;
    font-size:1.3em;
}
#follow-button {
    width:100px;
    transition:0.5s all !important;
}
#prof-disp {
    position: relative;
    right: 0;
    margin: 0px 0 10px 0;
}
#prof-date {
    font-size:1rem;
    font-weight: bold;
    margin-left: auto;

}
#prof-usrname {
    margin: 0;
    margin-bottom: 10px;
    font-size:1em;
    font-weight:normal;
    width:fit-content
}
.profile-div {
display: flex !important;
  flex-wrap: wrap; /* allow content to wrap on small screens */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  max-width: 600px; /* keeps layout readable on large screens */
  box-sizing: border-box;

  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;

  background-color: var(--lightishblue);
  overflow-wrap: break-word;
  flex-shrink: 1;
  box-sizing: border-box;
}

#about {
    flex-direction: column;
}
/* Post styling stoled from post.css for better loading times */
.pst {
    padding: 20px;
    background-color: var(--lightishblue);
    border-radius: 10px;
    margin: 8px 0px;
    height: fit-content;
    inline-size: 560px;
    width:560px !important;
    overflow-wrap: break-word;
    display:relative !important;
}

.pst-auths{
    position: relative;
    bottom:8px;
}

.pst-title {
    margin:1px 0 10px 0;
}

.pst-date {
    margin: 0px
}

/* container for posts  */
#pst-div {
    display: flex;
}
.reactions {
    position:absolute;
    bottom:0;
    right:0;
}
@media only screen and (max-width:600px) {
    .profile-div {
        width:calc(100% - 60px);
    }

}
/*@media only screen and (prefers-color-scheme: dark){
    #edit-profile:hover {
        background-color:var(--lightblue);
        color: var(--darkblue);
 }
 .pst {
    background-color: var(--darkishblue);
}

.pst-auth {
    color:var(--lightblue)
}

.pst-disp {
    color:var(--lightblue)
}
.profile-div {
    background-color:var(--darkishblue);
}
}*/