

#name-change {
    height:50px;
    position: relative;
    top:1px;
}

/* Hide the default input */
input[type="file"] {
    display: none;
  }
  
  #acct-dtl-content {
    display: block;
    flex-direction: column;
  }
  #acct-dtl-btn {
    font-weight: bold;
  }
  #acct-navbar {
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin: 20px 0; 
  }
  #change-name {
    width:79%;
  }
  /* Custom button */
  .custom-file-upload {
    display:block;
    width: auto ;
    height: auto;
    border-radius: 5px;
    background-color: var(--darkblue);
    color: var(--lightblue);
    cursor: pointer;
    border: 0;
    align-self: center !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

#delete, #send-email-password {
  margin:0;
}

#security-content, #notif-content, #privacy-content {
    display: none;
}

.pf-mnu-btn {
    border: 0;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    font-size: 1em;
    font-weight: 500;
    text-decoration: underline;
}

#bio {
    resize:vertical;
    overflow-y: hidden;
    vertical-align:top;
    width:530px;
    height:36px;
}

#bio::placeholder{
  position:absolute;
  top:12px;
}

#post-content {
  resize:vertical;
  overflow-y: hidden;
  height:36px !important;
  width:530px !important;
  border-radius:5px;
}

.profile-div {
  display:grid;
  flex-direction: column;
  border-radius:15px;
  padding: 15px;
  width: 565px;
  margin: 20px 0;
  height: fit-content;
  flex-wrap:wrap;
}

#camera {
  align-self:flex-end;
  justify-self: flex-end;
  position: relative; 
  padding: 0 !important;
  font-size: 25px;
  background-color:var(--lightblue);
  width:46px !important;
  padding: 15px;
  color: var(--darkblue);
  border-radius: 5px;
  border: 2px solid var(--darkblue);
  height: 46px; 
  margin: auto;
  margin-top: 10px;
  cursor:pointer;
  transition: all 0.5s;
}

#camera:hover {
    border-radius: 6px;
    box-shadow: 0 0 7px 0 var(--lightblue);
}

#videoElement {
  border: 2px solid var(--darkblue);
  width:100%;margin: 20px 0px 20px 0px;
  border-radius: 5px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.modal {
  display:none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  position: fixed;
  left: 0;
  top:0;
  width:100dvw;
  height:100dvh;
  overflow:auto;
}

.modal-content {
  position:fixed;
  left:calc((100dvw/2) - 308px);
  transform: translateY(-470px);/*translateX(-51.25%),translateY(470px);*/
  transition: all 0.75s ease; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h3 {
    margin: 0;
    font-size: 1.2rem;
}

.modal-header .close {
    cursor: pointer;
    margin: 0px;
    font-size: 1.5rem;
}

#old-password {
  margin-bottom:10px;
}

@media only screen and (prefers-color-scheme: dark){
  .profile-div {
    background-color:var(--darkishblue);
  }
  #camera {
    color: var(--lightblue) !important;
    background-color:var(--darkblue)!important;
    border: 2px solid var(--lightblue)
  }
  #camera:hover {
    border-radius: 6px;
    box-shadow: 0 0 7px 0 var(--darkblue);
  }
  .custom-file-upload {
    background-color: var(--lightblue);
    color: var(--darkblue);
  } 
  #videoElement {
    border: 2px solid var(--lightblue);
  }
}