

#name-change {
    height:50px;
    position: relative;
    top:1px;
}

/* Hide the default input */
input[type="file"] {
    display: none;
  }
  
  #acct-dtl-content {
    display: block;
    flex-direction: column;
  }
  #acct-dtl-btn {
    font-weight: bold;
  }
  #acct-navbar {
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin: 20px 0; 
  }
  /* Custom button */
  .custom-file-upload {
    display: inline-block;
    width: auto ;
    height: auto;
    font-size: 11pt;
    padding: 13px;
    border-radius: 5px;
    background-color: var(--darkblue);
    color: var(--lightblue);
    cursor: pointer;
    border: 0;
    align-self: center !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
#security-content {
    display: none;
}

#privacy-content {
    display: none;
}
#notif-content {
  display:none;
}
  .pf-mnu-btn {
    border: 0;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    font-size: 1em;
    font-weight: 500;
    text-decoration: underline;
  }
  #bio {
    resize:vertical;
    overflow-y: hidden;
    width:530px;
    height:36px;
}
#bio::placeholder{
  position:absolute;
  top:12px;
}
.profile-div {
    border-radius:15px;
    padding: 15px;
    width: 565px;
    margin: 20px 0;
    height: fit-content;
    flex-wrap:wrap;
}
#old-password {
  margin-bottom:10px;
}
@media only screen and (prefers-color-scheme: dark){
    
    .profile-div {
        background-color:var(--darkishblue);
    }
}