

#name-change {
    height:50px;
    position: relative;
    top:1px;
}

/* Hide the default input */
input[type="file"] {
    display: none;
  }
  
  #acct-dtl-content {
    display: block;
    flex-direction: column;
  }
  #acct-dtl-btn {
    font-weight: bold;
  }
  #acct-navbar {
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin: 20px 0; 
  }
  #change-name {
    width:530px;
  }
  /* Custom button */
  .custom-file-upload {
    display:block;
    width: auto ;
    height: auto;
    border-radius: 5px;
    background-color: var(--darkblue);
    color: var(--lightblue);
    cursor: pointer;
    border: 0;
    align-self: center !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

#delete, #send-email-password {
  margin:0;
}

#security-content, #notif-content, #privacy-content {
    display: none;
}

.pf-mnu-btn {
    border: 0;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    font-size: 1em;
    font-weight: 500;
    text-decoration: underline;
}

#bio {
    resize:vertical;
    overflow-y: hidden;
    vertical-align:top;
    width:530px;
    height:36px;
}

#bio::placeholder{
  position:absolute;
  top:12px;
}

#post-content {
  resize:vertical;
  overflow-y: hidden;
  height:36px !important;
  width:530px !important;
  border-radius:5px;
}

.profile-div {
  display:grid;
  flex-direction: column;
  border-radius:15px;
  padding: 15px;
  width: 565px;
  margin: 20px 0;
  height: fit-content;
  flex-wrap:wrap;
}

#camera {
  align-self:flex-end;
  justify-self: flex-end;
  position: relative; 
  padding: 0 !important;
  font-size: 25px;
  background-color:var(--lightblue);
  width:46px !important;
  padding: 15px;
  color: var(--lightblue);
  border-radius: 5px;
  border: 2px solid var(--lightblue);
  height: 46px; 
  margin: auto;
  margin-top: 10px;
  cursor:pointer;
  transition: all 0.5s;
}

#camera:hover {
    border-radius: 6px;
    box-shadow: 0 0 7px 0 var(--lightblue);
}

#old-password {
  margin-bottom:10px;
}

@media only screen and (prefers-color-scheme: dark){
    
    .profile-div {
        background-color:var(--darkishblue);
    }
    #camera {
        color: var(--lightblue) !important;
        background-color:var(--darkblue)!important;
    }
}