/* This stylesheet is for the signup/login pages. Please don't put other stuff in here. */

html {
    --lightblue: #b8eef9;
    --darkblue: #04043c;
    --darkishblue: #1f1f92;
    --lightishblue: #9eefff;
    --maroonred: rgb(83, 23, 23);
    --greenish: #4d7b9f;
}

/* Flashes are the notices like "login successful" and stuff. */
.flash {
    width:100%;
    height: fit-content;
    border-radius: 5px;
    background: var(--maroonred) !important;
    border: 3px solid white !important;
    color: white !important;
    padding: 8px;
    font-size: 12pt;
    text-align: center;
}

.flash.error {
    color: var(--maroonred);
    background:red;
}

/* The big 'Log In' heading at the top of the page */
.heading {
    font-size:36pt;
    text-align:center;
    font-weight: bold;
    margin: 40px auto;
}

/* .input_form is the wrapper for the inputs and button. */
.input_form {
    width: fit-content;
    margin: 0 auto;
    background-color: var(--darkblue);
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* The textbox for password and username input */
.textbox {
    border-radius: 5px;
    width:250px;
    height:18px;
    padding:13px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    border: 0;
}
/* Placeholders are the preview text stuffs before you put your cursor in*/
.textbox::placeholder {
    color: var(--darkblue);
    font-size: 11pt;
}
/* focus is what it looks like when you click on the textbox */
.textbox:focus {
    outline: none;
    box-shadow: 0px 0px 10px var(--darkblue);
}

/* The submit button. */
.submit {
    width: auto ;
    height: auto;
    font-size: 11pt;
    padding: 13px;
    border-radius: 5px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    cursor: pointer;
    border: 0;
    align-self: center !important;
    transition: all 0.3s;
    margin: 10px auto 0 auto;

}

.submit:hover {
    padding: 12px;
    background-color: var(--darkblue);
    color: var(--lightblue);
    border: 3px solid var(--lightblue);
}

/* fancy inline styling if you're cool. I don't know why these are here though. Derin? */
.flex {
    display: flex !important;
}

.vert {
    flex-direction: column !important;
}

/* most of this is just inversion of the colors. However, because we develop in dark mode,
we make it look better then light-style. Maybe check in lightmode once in a while. */
@media only screen and (prefers-color-scheme: dark) {
    .textbox {
        color: var(--lightblue);
        background-color: var(--darkblue);
        border: 3px solid var(--lightishblue);
    }
    .submit {
        background-color: var(--lightblue);
        color: var(--darkblue);
        border: 3px solid var(--lightblue);
        padding: 11.5px;
    }
    .submit:hover {
        background-color: var(--darkishblue) !important;
        color: white !important;
        border: 3px solid var(--lightblue) !important;
        padding: 11.5px;
    }
    .textbox::placeholder {
        color: var(--lightblue)
    }
    .input_form {
        background-color: var(--darkishblue);
    }

    .flash {

    }

    .card {
        background-color: var(--lightblue);
        color: var(--darkblue);
    }
    .card:hover {
        box-shadow: 0 0 7px 0 var(--lightblue);
    }
}