body {
    background-color: #9fefff;
    color: #0d0d6b;
    font-family: Arial;
    width: 600px;
    margin: auto;
    display:flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    flex:1;
}

#hometext {
    color: #0d0d6b;
    margin-top:0;
}

#navbar button {
    padding: 15px;
    background-color: #0d0d6b;
    color: #9fefff;
    border-radius: 5px;
    border: 0;
    height: 46px; 
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    cursor:pointer;
}

#navbar {
    display:flex;
    width:100%;
    padding:3px;
    gap:10px;
    margin-bottom: 40px;
}

#hder-img {
    background-color: inherit !important;
    float: left;
    margin: 0 300px 0 0 !important;
    padding: 20px 0 !important;
    color:#0d0d6b;
}

#footer {
    text-align: center;
}

@media only screen and (prefers-color-scheme: dark) {
    html {
        filter: invert(100%);
    }
}
