{% set account = findAccount() %}
<div class="profile-div">
    <h3>Theme</h3>
    <form class="settings-form">
        <div class="checkbox-wrapper-35">
        <input class="switch" type="checkbox" name="switch2" id="dark-mode-toggle"/>
        <label for="switch2" class="forswitch">
            <span class="switch-x-toggletext switch-x-wide">
            <span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Unchecked: </span>Light</span>
            <span class="switch-x-checked"><span class="switch-x-hiddenlabel">Checked: </span>Dark</span>
            </span>
            <span class="switch-x-text">Theme</span>
        </label>
        </div>
    </form>
</div>