{% set account = findAccount() %}

<div class="profile-div">
    <h3>Reaction notifications</h3>
        <p>Get notified when someone reacts to your post</p>
        <form class="settings-form">
            <div class="checkbox-wrapper-35">
                <input class="switch" type="checkbox" name="switch2" id="reaction-toggle"/>
                <label for="switch2" class="forswitch">
                    <span class="switch-x-toggletext switch-x-wide">
                        <span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Unchecked: </span>Off</span>
                        <span class="switch-x-checked"><span class="switch-x-hiddenlabel">Checked: </span>On</span>
                    </span>
                </label>
            </div>
        </form>
</div>
<div class="profile-div">
    <h3>Following notifications</h3>
        <p>Get notified when someone follows you</p>
        <form class="settings-form">
            <div class="checkbox-wrapper-35">
                <input class="switch" type="checkbox" name="switch2" id="follow-toggle"/>
                <label for="switch2" class="forswitch">
                    <span class="switch-x-toggletext switch-x-wide">
                        <span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Unchecked: </span>Off</span>
                        <span class="switch-x-checked"><span class="switch-x-hiddenlabel">Checked: </span>On</span>
                    </span>
                </label>
            </div>
        </form>
</div>
<div class="profile-div">
    <h3>Post notifications</h3>
        <p>Get notified when someone you're following posts</p>
        <form class="settings-form">
            <div class="checkbox-wrapper-35">
                <input class="switch" type="checkbox" name="switch2" id="post-notif-toggle"/>
                <label for="switch2" class="forswitch">
                    <span class="switch-x-toggletext switch-x-wide">
                        <span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Unchecked: </span>Off</span>
                        <span class="switch-x-checked"><span class="switch-x-hiddenlabel">Checked: </span>On</span>
                    </span>
                </label>
            </div>
        </form>
</div>