{% extends 'new-user/new-user.html' %}
    {% block content %}
        {% set account = findAccount() %}
        <div class="welcome-div" id="welcome-0">
            <h1>Welcome to Twidilers Hub!</h1>
            <p>You created an account with your username {{account.username}}. We need to set some things up before we continue.</p>
            <form method="post" id="welcome-0-form">
                <button class="submit" type="submit" name="welcome0">Continue</button>
            </form>
        </div>
    {% endblock %}
{% block pagenumber %}0{% endblock %}
{% block pn %}0{% endblock %}