{% extends 'new-user/new-user.html' %}
    {% block content %}
    {% set account = findAccount() %}
        <div class="welcome-div" id="welcome-1">
            <h1>Agree to our privacy policy and terms of service</h1>
            <form method="post" id="terms-agree">
                <h2>By clicking "Agree" you are agreeing to the <a href="{{ url_for('.page', page='privacy')}}">privacy policy</a> and our <a href="{{ url_for('.page', page='tos')}}">terms of service.</a></h2>                    
                <button class="submit" type="submit" name="welcome1">I agree</button>
            </form>
        </div>
    {% endblock %}
{% block skip %}{% endblock %}
{% block pagenumber %}1{% endblock %}
{% block pn %}1{% endblock %}