{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}
{% block head %}
<link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/welcome.css') }}">
<link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/form.css') }}">
<link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/settings.css') }}">
{% endblock %}
{% block content %}
{% set account = findAccount() %}
<div class="welcome-div" id="welcome-4">
    <h1>Show us your smile!</h1>
        <h2>Set up a profile picture</h2>
        <form method="post" enctype="multipart/form-data" id="upload_pfp">
            <label for="file" class="custom-file-upload">
                choose picture
            </label>
            <input type="file" id="file" name="file" accept="image/*">
            <button class="submit" id="pfp-submit" name="welcome3">Continue</button>
        </form>
</div>
    {% endblock %}