<html>
    <head>
        <link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/welcome.css') }}">
        <link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/form.css') }}">
        <link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/base.css') }}">
        <link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/settings.css') }}">

    </head>    <div id="flashes">
        {% block flashes %}
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="flash {{ category }}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endblock %}</div>
    <body>
    {% set account = findAccount() %}
        <div class="welcome-div" id="welcome-4">
            <h1>Tell us about yourself</h1>
                <h2>Write a short bio</h2>
                <form method="post" enctype="multipart/form-data" id="profile-bio-change">
                    <input type="text" id="bio" name="bio" class="textbox" autocomplete="off" autocapitalize="off" maxlength="500" placeholder="Write your bio here. Up to 500 characters." >
                    <button class="submit" name="welcome4">Upload</button>
                </form>
        </div>
    </body>
</html>