{% extends 'new-user/new-user.html' %}
    {% block content %}{% set account = findAccount() %}
        <div class="welcome-div" id="welcome-4">
            <h1>Tell us about yourself</h1>
                <h2>Write a short bio</h2>
                <form method="post" enctype="multipart/form-data" id="profile-bio-change">
                <textarea id="post-content" 
                         class="textbox js-countable" 
                         name="bio" 
                         autocomplete="off"
                         aria-label="Biography text" 
                         maxlength="500" 
                         placeholder="Write your bio here. Up to 500 characters."
                         aria-describedby="bio-help"></textarea>
                <span id="bio-help" class="visually-hidden">Maximum 500 characters</span>
                    <button class="submit" name="welcome4">Upload</button>
                </form>
        </div>
{% endblock %}
{% block pagenumber %}4{% endblock %}
{% block pn %}4{% endblock %}