{% extends 'base.html' %}
{% block title %}Feed{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='styles/post.css') }}">
{% endblock %}

{% block content %}
<main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    {% set account = findAccount() %}
    <div id="topfeed" role="region" aria-label="Feed controls">
        <h1 id="feedtitle">Your feed</h1>
        <div class="feed-controls">
            <select id="feed-dropdown" aria-label="Select feed type">
                <option value="all">All Posts</option>
                <option value="following">Following</option>
                <option value="liked">Liked</option>
            </select>
        </div>
        <a href="{{ url_for('.write_post') }}" role="button" class="submit" id="createpost" aria-label="Create a new post" title="Shortcut: N">Post</a>
        <form method="post" id="refreshbutton" name="refreshbutton" aria-label="Refresh feed" title="Shortcut:R">
            <button id="refresh" type="button" class="filter"><i class="fa-solid fa-rotate-right"></i></button>
        </form>
    </div>
    <section aria-label="Posts feed" class="posts-container">
        <div class="lds-ring" id="loading-screen"><div></div><div></div><div></div><div></div></div>
        <div id="post-container">
            <p>Huh. Your browser might not have JavaScript</p>
        </div>
        <script src="{{ url_for('.static', filename='javascript/feed.js')}}"></script>
    </section>
    <div id="bottomfeed" role="region" aria-label="Feed controls">
        <button id="oldest" onclick="oldPosts('all')" class="submit" aria-label="Load more posts" title="Doesn't work right now"><<</button>
        <button id="more" onclick="oldPosts('all')" class="submit" aria-label="Load more posts"><</button>
        <span id="middle">15 posts per page.</span>
        <button id="less" onclick="newPosts('all')" class="submit" aria-label="Load more posts">></button>
        <button id="latest" onclick="latestPosts('all')" class="submit" aria-label="Load latest posts">>></button>
    </div>
</main>
<script src="{{ url_for('.static', filename='javascript/flyout.js') }}">
</script>
{% endblock %}