{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/form.css') }}">
{% endblock %}
{% block content %}
<h1 class="heading">Log In</h1>
<form method="post" id="login_form" name="login_form" class="input_form"> <!--Form that submits to the @app.post for '/login in routes.py'-->
    <input type="text" class="textbox" placeholder="Enter Username" id="username" name="username" autocomplete="off"/>
    <input type="password" class="textbox" placeholder="Enter Password" id="password" name="password"/>
    <button id="submit" type="submit" class="submit" class="submitwide">Log In</button>
</form>
<button type="button" class="google-sign-in-button"><i ></i>Sign in with Google</button>
<button type="button" class="github-sign-in-button">Sign in with Github</button>

{% endblock %}