{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/form.css') }}">
{% endblock %}
{% block content %}
<h1 class="heading">Log In</h1>
<form method="post" id="login_form" name="login_form" class="input_form"> <!--Form that submits to the @app.post for '/login in routes.py'-->
    <input type="text" class="textbox" placeholder="Enter Username" id="username" name="username" autocomplete="off"/>
    <input type="password" autocomplete="current-password" class="textbox" placeholder="Enter Password" id="password" name="password"/>
    <button id="submit" type="submit" class="submit" class="submitwide">Log In</button>
</form>
<div class="other-signup">
    <h4>Don't have account? <a href="{{ url_for('.page', page='sign_up')}}">Sign up.</a></h4>
</div>
<div class="other-signup">
    <button type="button" class="google-sign-in-button"><i class="fa-brands fa-google"></i><div class="signin-txt">Log in with Google</div></button><br>
    <button type="button" class="github-sign-in-button"><i class="fa-brands fa-github"></i><div class="signin-txt">Log in with Github</div></button>
</div>
{% endblock %}