{% extends 'base.html' %}
{% block title %}Notifications{% endblock %}
{% block head %}
<link rel="stylesheet" data-turbo-track="dynamic" href="{{ url_for('.static', filename='styles/form.css') }}">
<link rel="stylesheet" data-turbo-track="dynamic" href="{{ url_for('.static', filename='styles/profile.css') }}">
<link rel="stylesheet" data-turbo-track="dynamic" href="{{ url_for('.static', filename='styles/post.css') }}">

{% endblock %}
{% block content %}
    <div id="topfeed" role="region" aria-label="Feed controls">
        <h1 id="feedtitle">Notifications</h1>
        <a role="button" class="submit" id="createpost" aria-label="Create a new post" title="Shortcut: N">Clear All</a>
    </div>
    <div>
        {% if session['username'] %}
            {% set account = findAccount() %}
            {% if account.notifications %}
                {% for notif in account.notifications %}
                    <div class="profile-div">
                        <h3>{{notif['title']}}</h3>
                        <h4>From @{{notif['author']}}</h4>
                            <p>{{notif['content']}}</p>
                            <div class="notif-date" id="notif_date_{{ loop.index0 }}"></div>
                    </div>
                    <script>
                        const notif_date_{{ loop.index0 }} = new Date({{ notif['date']*1000 }});
                        document.getElementById("notif_date_{{ loop.index0 }}").innerHTML = notif_date_{{ loop.index0 }}.toLocaleString();
                    </script>
                {% endfor %}
    =        {% else %}
                <p>No Notifications</p>
            {% endif %}
        {% else %}
            <p>Please log in to see notifications.</p>
        {% endif %}
    </div>
    <form method="post" action="/messaging" id="message_form" name="message_form" class="input_form" id="login_form">
        <div id="messange" class>
            <a href="{{ url_for('.profile', username=session['username'])}}"><button id="messageBtn" class="submit">Send a message</button></a>
            <div id="message">
                <input type="text" class="textbox" placeholder="Recipient" id="messaged" name="messaged" autocomplete="off" maxlength="50"/>
                <textarea type="text" class="textbox" placeholder="Content" id="message-content" name="message-content" autocomplete="off"></textarea>
                <input type="hidden" id="location" name="location"/>
            </div>
            </form>
        </div>
{% endblock %}