{% extends base.html %}
{% block title %}Password Reset{% endblock %}
{% block head %}
<link rel="stylesheet" src="{{ url_for('.static', filename='styles/form.css') }}">
{% endblock %}
{% block content %}
{% set account = findAccount() %}
<form method="post" class="input_form">
<input id="new-password" name="new-password" type="password" class="textbox" autocomplete="new-password" autocapitalize="off" maxlength="24" placeholder="New Password"><br>
    <button class="submit" id="password-change">Change Password</button>
</form>

{% endblock %}