{% extends 'base.html' %}
{% block title %}Feed{% endblock %}
{% block head %}
<link rel="stylesheet" data-turbo-track="dynamic" href="{{ url_for('.static', filename='/styles/form.css') }}">
{% endblock %}
{% block content %}
<h1 class="heading">Create a post</h1>
<form method="post" id="blog_form" name="blog_form" class="input_form"> <!--Form that submits to the @app.post for '/sign_up in routes.py'-->
    <input type="text" class="textbox" placeholder="Title" id="title" name="title" autocomplete="off" maxlength="50"/>
    <textarea type="text" class="textbox" placeholder="Content" id="post-content" name="post-content" autocomplete="off"></textarea>
    <button id="post-submit" type="submit" class="submit">Post</button>
</form>
<script>
    const submitButton = document.getElementById('post-submit')
    submitButton.addEventListener('click', function(event) {
        event.preventDefault()
        let content = document.getElementById('post-content').value
        if (content == '') {
            if (confirm('This post has no content! Are you sure you want to submit it?') == true) {
                document.blog_form.submit()
            }
        } else {
            document.blog_form.submit()
        }
    })
</script>

{% endblock %}