{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block head %}
<link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/form.css') }}">
{% endblock %}
{% block content %}
<h1 class="heading">Sign Up</h1>
{% if not entered %}
<form method="post" id="account_form" name="account_form" class="input_form"> <!--Form that submits to the @app.post for '/sign_up in routes.py'-->
    <input type="text" class="textbox" placeholder="Create Username" id="username" name="username" autocomplete="off"/>
    <input type="email" class="textbox" placeholder="Email" id="email" name="email" autocomplete="on"/>
    <input type="password" class="textbox" placeholder="Create Password" id="password1" name="password1"/>
    <input type="password" class="textbox" placeholder="Confirm Password" id="password2" name="password2"/>
    <button id="submit" type="submit" class="submit">Send email verification</button>
</form>
{% else %}
    <div class="input_form">
        <h2>Thanks for signing up!</h2>
        <p>Check your email to confirm your email address and start the setup process.</p>
        <a href="{{url_for('.page',page='login')}}"><button class="submit">Return to login</button></a>
    </div>
{% endif %}
    <button type="button" class="google-sign-in-button" >
        Sign in with Google
    </button>
{% endblock %}