{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='/styles/form.css') }}">
{% endblock %}
{% block content %}
<h1 class="heading">Sign Up</h1>
<form method="post" id="account_form" name="account_form" class="input_form"> <!--Form that submits to the @app.post for '/sign_up in routes.py'-->
    <input type="text" class="textbox" placeholder="Create Username" id="username" name="username" autocomplete="off"/>
    <input type="password" class="textbox" placeholder="Create Password" id="password1" name="password1"/>
    <input type="password" class="textbox" placeholder="Confirm Password" id="password2" name="password2"/>
    <button id="submit" type="submit" class="submit">Create Account</button>
</form>

{% endblock %}