{% extends 'base.html' %}
    {% block title %}Moderator Dashboard{% endblock %}
    {% block head %}
    <link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/dashboard.css') }}">
    <link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/form.css') }}">
    <link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='/styles/post.css') }}">
    {% endblock %}
    {% block content %}
    {% set account = findAccount() %}
    <h1>Welcome to the moderator dashboard, {{ account.username }}</h1>
        <p>Here you can manage the site and users.</p>
    <h1>User dashboard</h1>
        <h2>Search for a user</h2>
            <form method="post">
                <input type="text" class="textbox" name="username" placeholder="Username">
                <button class="submit" name="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        <h2>All users</h2>
        {% for user in userlist %}
            <div class="admin-user pst">
                <h2>{{ user.username }}</h2>
                <h3>{{ user.displayname }}</h3>
                <div class="pst-reactions">
                    <form method="post">
                        <button class="submit" name="ban" value="{{ user.id }}">Ban</button>
                    </form>
                </div>
                <a href="{{ url_for('.profile',username=user.username) }}">Go to profile</a>
            </div>
        {% endfor %}
    <h1>All posts</h1>
        {% for post in postlist() %}
            <div class="admin-post pst">
                <a href="{{ url_for('.profile',username=post.author.username) }}" class="auth-info">
                    <img class="pst-auth-pfp" 
                         loading="lazy" 
                         src="{{ url_for('.get_pfp', username=post.author.username) }}"
                         alt="Profile picture of {{ post.author.displayname }}">
                         
                    <div class="pst-auths">
                        <p class="pst-auth">{{post.author.displayname}}</p>
                        <p class="pst-disp">@{{post.author.username}}</p>              
                    </div>
                </a>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <div class="pst-reactions">
                    <form method="post">
                        <button class="submit" name="delete" value="{{ post.id }}"><i class="fa-solid fa-trash"></i></button>
                        <button class="submit" name="markgood" value="{{ post.id }}" title="Hides post from moderators because it's a good post"><i class="fa-solid fa-check"></i></button>
                        <button class="submit" name="banuser" value="{{ post.author }}" title="Bans the user who made the post and deletes all posts"><i class="fa-solid fa-ban"></i></button>
                    </form>
                </div>
                <p class="pst-date" id="date{{ loop.index0 }}">{{ loop.index0 }}</p>
                <script>
                    const date{{ loop.index0 }} = new Date({{ post.date.timestamp()*1000 }})
                        document.getElementById("date{{ loop.index0 }}").innerHTML = date{{ loop.index0 }}.toLocaleString();
                </script>
            </div>
        {% endfor %}
    {% endblock %}