{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1>Who made this?</h1>
<h2>Oliver</h2>
    <p>Oliver, aka hihihioli, is a cool guy. Learn more at his <a href="https://twidilers.com">personal website</a></p>
<h2>dereena</h2>
    <p>dereena is the alter ego of Derin. He is a code master and wrote this paragraph. That is all there is to him, except for his <a href="https://derin.twidilers.com">personal website</a></p>
<h2>wall03</h2>
    <p><a href="https://wall03.blue">Wall03</a> is a frontend developer and made this website look cool. He also wrote the above paragraph.</p>
{% endblock %}