<!doctype html>
<html lang="en">

<head>
    <!-- The head with configuration. By default do not override this, but it can be overridden. -->
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles/fontawesome.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('.static', filename='images/favicon.png', v=2) }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('.static', filename='images/favicon.ico', v=2) }}">


        <title>{% block title %}{% endblock %} - Twidilers</title> <!-- The title of the tab depending on the current page. -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A wonderful website">
        <meta name="keywords" content="HTML, CSS, Python">
        <meta name="author" content="dereena">
        <meta name="author" content="hihihioli">
        <meta name="author" content="Wall03">
    {% endblock %}
</head>

<body class="{% block bodyclasses %}flex vert{% endblock %}"> <!-- Classes of the body element. Can be used to make the page flex, grid, etc. Can be overriden or current classes can be kept using {\{ super() }\}-->
    <!-- The navbar. Also can be overridden if necessary. -->
    <div id="navbar">
        {% block nav %}
            {% if not session['username'] %}
            <a href="{{ url_for('.page',page='index') }}" id="hdr-href"><button id="hder-img"><img src="{{ url_for('.static',filename='images/logo.svg') }}" width="35.56px" height="35.54"></button></a> 
            <a href="{{ url_for('ami.index') }}"><button>Amalie</button></a>
            <a href="{{ url_for('.page',page='about') }}"><button>About us</button></a>
            <a href="{{ url_for('.page',page='login') }}"><button>Log in</button></a>
            <a href="{{ url_for('.page',page='sign_up') }}"><button>Sign up</button></a>
            {% endif %}
            {% if session['username'] %}
            {% set account = findAccount() %}
            <a href="{{ url_for('.page',page='index') }}" id="hdr-href"><button id="hder-img"><img src="{{ url_for('.static',filename='images/logo.svg') }}" width="35.56px" height="35.54"></button></a> 
            <a href="{{ url_for('ami.index') }}"><button>Amalie</button></a>
            <a href="{{ url_for('.page',page='feed') }}"><button>Feed</button></a>
            <a><button id="usricon-nav"><img id="usricon-nav-img" src="{{ url_for('.get_pfp', username=account.username) }}"></button>
    </a>

    <!-- Popup Menu -->
    <div class="popup-menu" id="popupMenu">
        <a href="{{ url_for('.page',page='profile') }}"><button id="profileBtn" href="{{ url_for('.logout') }}">My Profile</button></a>
        <a href="{{ url_for('.page',page='profile') }}"><button id="settingsBtn">Settings</button></a>
        <a href="{{ url_for('.logout') }}"><button id="logoutBtn">Log Out</button></a>
    </div>            
    <script>
        const userButton = document.getElementById('usricon-nav');
        const userMenu = document.getElementById('popupMenu');

        userMenu.style.display = 'none';

        userButton.addEventListener('click', () => {
            if (userMenu.style.display === 'none') {
                userMenu.style.display = 'block';
            } else {
                userMenu.style.display = 'none';
            }
        });
    </script>
    {% endif %}
        {% endblock %}
    </div>
    <!-- Flashes. Gives every flash a div with class flash and a custom category. -->
    <div id="flashes">
        {% block flashes %}
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="flash {{ category }}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endblock %}</div>
    <!-- The main content of the page goes in a div with id content. -->
    <div id="content">{% block content %}{% endblock %}</div>
    <!-- The footer has a default but can be overridden. -->
    <div id="footer-div">
        {% block footer %}
            <section id="footer">
                <b><p>This work is licensed under MIT by Twidilers Incorporated. &copy; Copyright 2024</p></b>
            </section>
        {% endblock %}
    </div>
</body>

</html>