<!doctype html>
<html>

<head>
    <!-- The head with configuration. By default do not override this, but it can be overridden. -->
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles/styles.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.svg',v=2) }}">
        <title>{% block title %}{% endblock %} - Twidilers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A wonderful website">
        <meta name="keywords" content="HTML, CSS, Python">
        <meta name="author" content="dereena">
        <meta name="author" content="hihihioli">
        <meta name="author" content="Wall03">
    {% endblock %}
</head>

<body>
    <!-- The navbar. Also can be overridden if necessary. -->
    <div id="navbar">
        {% block nav %}   
            <a href="{{ url_for('.page',page='index') }}"><button id="hder-img" ><img src="{{ url_for('.static',filename='images/logo.svg') }}">Home</button></a> 
            <a href="{{ url_for('.page',page='login') }}"><button>Log in</button></a>
            <a href="{{ url_for('.page',page='sign_up') }}"><button>Sign up</button></a>
            <a href="{{ url_for('.page',page='about') }}"><button>About us</button></a>
        {% endblock %}
    </div>
    <!-- Flashes. Gives every flash a div with class flash and a custom category. -->
    <div id="flashes">
        {% block flashes %}
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="flash {{ category }}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endblock %}</div>
    <!-- The main content of the page goes in a div with id content. -->
    <div id="content">{% block content %}{% endblock %}</div>
    <!-- The footer has a default but can be overridden. -->
    <div id="footer">
        {% block footer %}
            <section>
                <p>This work is licensed under MIT by Twidilers Incorporated. &copy; Copyright datetime.datetime.now().srtf('%m-%D-%Y')</p>
            </section>
        {% endblock %}
    </div>
</body>

</html>