{% extends 'base.html' %}
{% block title %}Feed{% endblock %}
{% block content %}
<h1 class="heading">Your feed</h1>
<!-- This is an example post for styling reasons. This should be the general structure for posts though-->
<div class="pst">
    <p class="pst-txt">This is example post test. I should figure out what to say. I'm continuing to talk.</p>
    <img  class="pst-img" href="../static/images/favicon.png">
    <p class="pst-date">December 4, 2024</p>
</div>
<a href="{{ url_for('.page',page='post') }}"><button class="card">Create a Post</button></a>
{% endblock %}