{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<span class="heading">Log In</span>
<form method="post" id="login_form" name="login_form" class="input_form">
    <input type="text" class="textbox" placeholder="Enter Username" id="username" name="username" autocomplete="off"/><br>
    <input type="password" class="textbox" placeholder="Enter Password" id="password1" name="password1"/><br>
    <button id="submit" type="submit" class="submit">Create Account</button>
</form>
{% endblock %}