{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block head %}
<link rel="stylesheet" data-turbo-track="dynamic"href="{{ url_for('.static', filename='styles/form.css') }}">
{% endblock %}
{% block content %}
{% set account = findAccount() %}
<form method="post" class="input_form">
    <input type="password" class="textbox" placeholder="Create Password" id="password1" name="new-password"/>
    <button class="submit" id="password-change">Change Password</button>
</form>

{% endblock %}