{% extends 'base.html' %}
{% block title %}Feed{% endblock %}
{% block content %}
<h1 class="heading">Create a post</h1>
<form method="post" id="blog_form" name="blog_form" class="input_form"> <!--Form that submits to the @app.post for '/sign_up in routes.py'-->
    <input type="text" class="textbox" placeholder="Title" id="title" name="title" autocomplete="off"/>
    <input type="text" class="textbox" placeholder="Content" id="content" name="content" style="height: 220px;"/>
    <button id="submit" type="submit" class="submit">Post</button>
</form>


{% endblock %}