{% extends 'base.html' %}
{% block title %}Feed{% endblock %}
{% block content %}
<h1 class="heading">Create a post</h1>
<form method="post" id="blog_form" name="blog_form" class="input_form"> <!--Form that submits to the @app.post for '/sign_up in routes.py'-->
    <input type="text" class="textbox" placeholder="Title" id="title" name="title" autocomplete="off"/>
    <div id="decorators">
        <input type="checkbox" id="underline" name="underline" value="underline">
  <label for="underline">Underline</label><br>
  <input type="checkbox" id="overline" name="overline" value="overline">
  <label for="overline">Overline</label><br>
  <input type="checkbox" id="line-through" name="line-through" value="line-through">
  <label for="line-through">Strike-through</label><br>
  <input type="checkbox" id="wavy" name="wavy" value="wavy">
  <label for="blink">Blink</label><br><br>
    </div>
    <textarea type="text" class="textbox" placeholder="Content" id="post-content" name="post-content" autocomplete="off"></textarea>
    <button id="post-submit" type="submit" class="submit">Post</button>
</form>


{% endblock %}