{% extends 'base.html' %}
{% block title %}{{account.displayname}}'s profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='styles/post.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='styles/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='styles/settings.css') }}">
{% endblock %}
{% block content %}
<div class="profile-div" id="auth-info">
    <img src="{{ url_for('.get_pfp',username=account.username) }}" id="pfp">
    <section class="profile-auth">
        <h1 name="display-name" id="display-name">{{account.displayname}}</h1>
        <h3 name="prof-username" id="prof-usrname">@{{account.username}}</h3>
        {% if owner == 1 %}
            <a href="{{ url_for('.page',page='settings') }}" id="edit-profile"><i class="fa-solid fa-pencil"></i></a>
        {% endif %}
        {% if owner == 0 %}
            <a id="follow-button"><button class="submit">Follow</button></a>
        {% endif %}
    </section>
</div>

<div>
    <h1>Recent Posts:</h1>
    {% for post in posts %}
    <div class="pst">
        <h2 class="pst-title" style="text-decoration:{{post.decorators}}">{{post.title}}</h3>
        <p class="pst-content">{{post.content}}</p>
        <p class="pst-date" id="date{{ loop.index0 }}">date</p>
        <script>
            const date{{ post.id }} = new Date({{ post.date.timestamp()*1000 }})
                document.getElementById("date{{ loop.index0 }}").innerHTML = date{{ post.id }}.toLocaleString();
        </script>
    </div>
    {% endfor %}
</div>


{% endblock %}